footer {  
            background-color: #00FF00;  
            height: 60px;  
            width: 100%;  
            display: flex; /* Use flexbox for alignment */  
            align-items: center;  
            justify-content: center;
	    position: fixed;
            bottom: 0;
            text-align: center;
        }  
div {
	text-align: center;
}
